
body{
    text-align: center;
    color: #fff;
}
footer{

    background-color:#232323;
    padding-top: 5% ;

}
.container-fluid{
    padding: 1rem 3rem;
}
.navbar{
    background-color: black;
}
.nav-item{
    padding:0 18px;
    color:#fff;
}
.navbar-brand{
    padding:0 18px;
}
.name{
font-size: larger;
}
.title-name{
font-family: 'Sacramento', cursive;
margin-bottom: 5%;
}
.profile{
    padding:10% 20%;
}
.first{
    background-color: black;
    color:#fff;
}
/* Social Links */

#social-links{
    padding: 7% 15%;
}


.footer-icon{
    margin:0  2rem 3rem; 
    color:black
}
